# Class Activity 2.3: Subsetting in R

If you're using Colab, please remeber to upload the dataset from Class Activity 2.3 using the file manager on the left sibebar of Colab.

## Step 1: load the dataset into R using "read.csv"

In [1]:
students <- read.csv("students361_clean.csv")

## Step 2: Check that the dataset loaded correctly: there should be information on 8 variables from 35 students.  Use the "str" function.

In [2]:
str(students)

'data.frame':	35 obs. of  8 variables:
 $ height        : num  63 63 73 78 61 64 70 70 70 74 ...
 $ favoriteNumber: num  248 2 3 50 8 13 12 7 31 11 ...
 $ CraterLake    : num  6 9 9 5 4 3 5 8 7 7 ...
 $ commute       : chr  "Car" "Car" "Car" "walk" ...
 $ shoes         : int  NA 20 10 12 32 7 3 5 3 12 ...
 $ drink         : int  2 1 1 2 2 2 2 1 1 2 ...
 $ chocolate     : chr  "Yes" "Yes" "No" "Yes" ...
 $ color         : chr  "gold" "blue" "blue" "green" ...

## Step 3: Make any needed corrections.  

In this dataset, height, favoriateNumber, CraterLake, and shoes should all be numerical variables and as you can see from the output of "str", R has each of these as either int (i.e. integer) or num (number) so no corrections are needed on these.  

The remaining variables should all be categorical. From the output of "str", we can see that commute, chocolate and color are all "chr" which is valid for categorical variables, but  the variable drink is "int".  So we should change drink to a factor with informative labels:

In [3]:
students$drink <- as.factor(students$drink)

In [4]:
levels(students$drink)

[1] "1" "2"

In [5]:
levels(students$drink) <- c("coke", "pepsi")

In [6]:
levels(students$drink)

[1] "coke"  "pepsi"

## Step 4: Create the required subsets and count the number of students in each one.  Record your answers on the class activity 2.3 page in OneNote.  

Example using the "subset" function and operators is given below.  The students in this subset can be counting using the "str" function.

In [9]:
mysubset <- subset(students, subset=(drink=="coke"))

In [10]:
str(mysubset)

'data.frame':	16 obs. of  8 variables:
 $ height        : num  63 73 70 70 70 67 71 68 72 69 ...
 $ favoriteNumber: num  2 3 7 31 2.72 ...
 $ CraterLake    : num  9 9 8 7 8 4.5 9 5 9 6 ...
 $ commute       : chr  "Car" "Car" "walk" "Car" ...
 $ shoes         : int  20 10 5 3 6 5 23 7 6 9 ...
 $ drink         : Factor w/ 2 levels "coke","pepsi": 1 1 1 1 1 1 1 1 1 1 ...
 $ chocolate     : chr  "Yes" "No" "No" "No" ...
 $ color         : chr  "blue" "blue" "darkblue" "green" ...

There are 16 students who prefer coke to pepsi.

The | operator means "OR" in R:

In [11]:
mysubset2 <- subset(students, subset=(drink=="coke" | height >=60))

In [12]:
str(mysubset2)

'data.frame':	34 obs. of  8 variables:
 $ height        : num  63 63 73 78 61 64 70 70 70 74 ...
 $ favoriteNumber: num  248 2 3 50 8 13 12 7 31 11 ...
 $ CraterLake    : num  6 9 9 5 4 3 5 8 7 7 ...
 $ commute       : chr  "Car" "Car" "Car" "walk" ...
 $ shoes         : int  NA 20 10 12 32 7 3 5 3 12 ...
 $ drink         : Factor w/ 2 levels "coke","pepsi": 2 1 1 2 2 2 2 1 1 2 ...
 $ chocolate     : chr  "Yes" "Yes" "No" "Yes" ...
 $ color         : chr  "gold" "blue" "blue" "green" ...

There were 34 students who either prefer coke OR are at least 60 inches tall.

The & operator means "AND" in R:

In [13]:
mysubset3 <- subset(students, subset=(drink=="coke" & height >=60))

In [15]:
str(mysubset3)

'data.frame':	16 obs. of  8 variables:
 $ height        : num  63 73 70 70 70 67 71 68 72 69 ...
 $ favoriteNumber: num  2 3 7 31 2.72 ...
 $ CraterLake    : num  9 9 8 7 8 4.5 9 5 9 6 ...
 $ commute       : chr  "Car" "Car" "walk" "Car" ...
 $ shoes         : int  20 10 5 3 6 5 23 7 6 9 ...
 $ drink         : Factor w/ 2 levels "coke","pepsi": 1 1 1 1 1 1 1 1 1 1 ...
 $ chocolate     : chr  "Yes" "No" "No" "No" ...
 $ color         : chr  "blue" "blue" "darkblue" "green" ...

There were 16 students who prefer coke AND are at least 60 inches tall.