## HW 2: Vietnam Draft and Political Attitudes

This code notebook provides hints and starter code for answering questions of HW 2.

If you are working in Colab, you'll need to upload the survey.csv dataset using the file manager on the left sidebar.

Step 1: Read the dataset ''survey.csv'' into R using the ''read.csv'' function.

In [1]:
survey <- read.csv("survey.csv")

Step 2: Check that the dataset was correctly loaded in R using the ''str'' and ''head'' functions. Specifically, make sure the number of variables matches the number in the description of HW 2.

In [ ]:
str(survey)

In [ ]:
head(survey)

Step 3: Correct any mistakes when the dataset was loaded in R and make informative labels for any categorical variables.

In this example, one variable is NOT correctly loaded in R: the variable ''draft'' has possible values of 0 or 1, so R thinks it is an ''int'', or integer variable.  In fact, the values don't really mean the numbers 0 and 1 but are just place holders for the two groups of men (included in the draft or not).

Refer to Example 2 in code_notebook_2_1.ipynb as needed to change ''draft'' to a ''factor'' in R, with appropriate and informative labels. Some starter code is given below.  To complete it, read the variable descriptions in HW 2.

Change to a factor...

In [3]:
survey$draft <- factor(survey$draft)

...then check the current values...

In [ ]:
levels(survey$draft)

...then replace the current values in the correct order...

In [ ]:
levels(survey$draft) <- c("  ", "  ")

...finally check that the values are correct...

In [ ]:
levels(survey$draft)

Now let's doublecheck our dataset...

In [ ]:
str(survey)

Step 4: Summarize the outcome variable per group.

First, let's try the shortest method of summarizing, which is with the ''tapply'' function: first input is the outcome, second input is the treatment and third is the function to compute per treatment group.

In [ ]:
tapply(survey$ideology, survey$draft, mean)

Did you get an error that the means are NA?  This happens a lot with real datasets.  Because some men didn't respond to all the survey questions, there are empty answers in the dataset.  Often "missing" values are filled in with "NA".  The mean function cannot be computed over these values so we need to tell R to ignore them.

A quick way to do this is to add a fourth input to the tapply function of "na.rm=TRUE".

In [ ]:
tapply(survey$ideology, survey$draft, mean, na.rm=TRUE)

Next refer to Example 2 in code_notebook_2_1.ipynb to see how to use the "table" function to summarize two categorical variables when one is a outcome variable and the other is a treatment variable (i.e. treatment groups in columns, outcomes in rows).  Use this example to help complete the code below.

In [ ]:
tab <- table(survey$      , survey$       )
tab

In [ ]:
prop.table(tab, margin=    )

The code below shows how to create a subset of the dataset of men born in 1950.  Please edit this code to create the subset of men living in Oregon (hint: change variable name and use "OR").

In [15]:
men1950 <- subset(survey, subset=(year==1950))

In [ ]:
str(men1950)

Once you've made the subset, compute the mean per group as before, making sure to use the name of the new subset instead of the entire dataset

In [ ]:
tapply(men1950$ideology, men1950$draft, mean, na.rm=TRUE)